{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": ["eslint:recommended", "google"],
    "rules": {
        "no-tabs": 0,
        "indent": ["error", "tab"],
        "linebreak-style": ["error", "windows"],
        "arrow-parens": 0,
        "eol-last": 0,
        "comma-dangle": 0,
        "require-jsdoc": 0
    }
}